window.main-window ,
.main-window headerbar,
.main-window popover arrow,
.main-window popover contents {
  background:  @background_color;
  color: @foreground_color;
}

headerbar {
  border-bottom: 0;
}
.main-window .main-container {
  background: @background_color;
}

entry selection{
  color: @background_color;
  background-color: @foreground_color;
}

.fg-entry image.left{
  color: @foreground_color;
}
.bg-entry image.left{
  color: @background_color;
}

/* Preview */
.preview-head {
  font-size: 36px;
  font-weight: 800;
}
/* Table */
.table-header {
  font-size: 20px;
}
/* .table-value {

} */
.table-level {
  font-weight: bold;
}
.table-200 {
  font-weight: 200;
}
.table-300 {
  font-weight: 300;
}
.table-400 {
  font-weight: 400;
}
.table-500 {
  font-weight: 500;
}
.table-600 {
  font-weight: 600;
}
.table-700 {
  font-weight: 700;
}
/* ChartBarWidget */
levelbar .bar {
  border-radius: 9999px;
  padding: 0;
  background: alpha(@foreground_color, 0.2);
}

levelbar .filled {
  background-color: @foreground_color;
  border-radius: 9999px;
}
/* ColorPopover */
popover.color-popover {
  padding: 10px;
}

/* Hackish way to remove extra left spacing */
popover.color-popover colorchooser overlay grid{
  margin-left:-30px;
}
